body {
  font-family: "Poppins", sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: #ff4b4b;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.btn {
  text-decoration: none;
  background-color: #ff4b4b;
  color: #fff;
  padding: 15px 30px;
  border-radius: 10px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #e33b3b;
}
