body
{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
  display: flex;
  height: 100vh;
}

#app
{
  display: flex;
  width: 100%;
  height: 100%;
}

#map
{
  flex: 2;
  height: 100%;
}

#panel
{
  flex: 1;
  background-color: #1f2833;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: -5px 0 20px rgba(0,0,0,0.3);
}

h2
{
  color: #66fcf1;
  text-align: center;
}

textarea, input
{
  widht: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  resize: none;
}

textarea
{
  height: 120px;
}

button
{
  padding: 10px;
  border: none;
  background-color: #45a29e;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover
{
  background-color: #66fcf1;
  color: #0b0c10;
}

#result
{
  background-color: #0b0c10;
  border-radius: 10px;
  padding: 10px;
  height: 100px;
  overflow-y: auto;
  border: 1 px solid #45a29e;
}
